.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

#search-container {
  margin-bottom: 30px;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

#suggestions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.suggestion:hover {
  transform: scale(1.05);
}

.meal-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

#results-container {
  display: none; /* initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  z-index: 100;
  border-radius: 5px;
  width: 80%; /* use percentage to make it responsive */
  max-width: 500px;
  text-align: left;
}

#results-container.modal-open {
  display: block;
  margin-top: 20px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.modal-close{
  color: white;
  background-color: red;
  padding: 3px;
}
